code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	box-sizing: border-box;
}

section {
	-ms-overflow-style: none;
}

body {
	font-family: sans-serif;
	background-color: var(--tg-theme-bg-color, #ffffff);
	color: var(--tg-theme-text-color, #222222);
	font-size: 16px;
	margin: 0;
	padding: 0;
	color-scheme: var(--tg-color-scheme);
}

#viewportStable,
#viewport {
	padding: 2px;
	font-size: 9px;
	color: white;
	position: fixed;
	top: 0;
}

#viewportStable {
	left: 0;
	background-color: green;
}

#viewport {
	right: 0;
	background-color: silver;
}

a {
	color: var(--tg-theme-link-color, #2678b6);
}

button {
	display: block;
	width: 100%;
	font-size: 14px;
	margin: 15px 0;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	background-color: var(--tg-theme-button-color, #50a8eb);
	color: var(--tg-theme-button-text-color, #ffffff);
	cursor: pointer;
}

button[disabled] {
	opacity: 0.6;
	cursor: auto;
	pointer-events: none;
}

section {
	padding: 0 8px;
	text-align: center;
	max-height: calc(var(--tg-viewport-height, 100%) - 4px);
	overflow: scroll;
}

p {
	margin: 40px 0 15px;
}

ul {
	text-align: left;
}

li {
	color: var(--tg-theme-hint-color, #a8a8a8);
}

textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 7px;
}

pre {
	background: rgba(0, 0, 0, .07);
	border-radius: 4px;
	padding: 4px;
	margin: 7px 0;
	word-break: break-all;
	word-break: break-word;
	white-space: pre-wrap;
	text-align: left;
}

.dark pre {
	background: rgba(255, 255, 255, .15);
}

.hint {
	font-size: .8em;
	color: var(--tg-theme-hint-color, #a8a8a8);
}

.ok {
	color: green;
}

.err {
	color: red;
}

small {
	font-size: 12px;
}